{% extends 'base.html' %}
{% block title %}assigment 10{% endblock %}


{% block tochen %}
     <h1>Users' Page</h1>
    <h2> Insert user</h2>
    <form action="/insert_user" method="post"> <!--  post because dealing with passwords -->
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Insert"> <!-- # value= what that will be written on the button -->
    </form>
    <hr>
    <h2>Users' List:</h2>
    {% for user in users %}
        <li>
            <form action="/delete_user" method="post" style="display: inline">
                <input type="hidden" name="id" value="{{ user.id }}">
                <input type="submit" value="Delete">
            </form>
            ID: {{ user.id }} &emsp;Name: {{ user.name }} &emsp;Email: {{ user.email }}
        </li>  <!-- #name/email= the table's columns' names -->
    {% endfor %}
    <h2 id="userAction"></h2>
    <hr>

    <h2>Update User:</h2>
    <h2>enter user Id and then the details you want to update </h2>
    <form name="update" method="POST" action="/update_User">
        <input name="id" type="text" placeholder="enter user Id ">
        <input name="name" type="text" placeholder="enter your user name">
        <input name="email" type="email" placeholder="enter your email">
        <input name="password" type="password" placeholder="enter your password">
        <input type="submit">
    </form>

    <script>
       change_acording_to_querry();
    </script>
{% endblock %}